<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrainProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>WidgetProjectExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAD9AB29272E5C5900E3DE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD9AB39272E5C6200E3DE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD9AB43272E5C6200E3DE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD9AB73272E618600E3DE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
